@import '../../variables';

.form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  &__input {
    width: 80%;
  }
  &__input:focus {
    outline: 0;
  }
  &__button {
    background-image: url(../../images/Add-Button.svg);
    @extend %button-type;
    width: 55px;
    height: 40px;
    cursor: pointer;
  }
  &__button:hover {
    opacity: $buttonOpacity;
  }
}
